body {
    background-color: gray;
}
h3 {
    color: magenta;
}
p {
    color: blue;

}
li.unordered {
    list-style-type:circle;
    list-style-position: outside;
    font: 2em Arial, "Arial Black", Verdana, "Times New Roman";
}
#li1, #li2, #li3, #li4 {
    background-color: bisque;
    text-decoration: overline;
    text-size-adjust: 2em;
}