body {
    background-color: white;
}
h3 {
    color: magenta;
}
p {
    
    color: blue;

}
li.unordered {
    list-style-type:circle;
    list-style-position: outside;
    font: 2 em ;
}
#li1, #li2, #li3, #li4 {
    background-color: bisque;
    text-shadow: 10px;
    text-size-adjust: 2em;
}
* {
    font: Arial, "Arial Black", Verdana, "Times New Roman";
}