body {
    background-color: white;
}
h3 {
    color: magenta;
}
p {
    
    color: blue;

}
p::first-letter {
    font-size: 6em;
}
li.unordered {
    list-style-type:circle;
    list-style-position: outside;
}
#li1, #li2, #li3, #li4 {
    background-color: bisque;
    font-size: medium;
}
a{
    color: coral;
    text-decoration: none;
}
* {
    font-family:Arial, 'Arial Narrow Bold', Verdana,'Times New Roman';
}