body {
    background-color: whitesmoke;
    color:rgb(60, 60, 60);
    font-family: 'Times New Roman', Times, serif;
    text-decoration: wavy;
    font-size: 12pt;
    margin: 20px;
}
#email, #pwd, #divsubmit, #divcheckbox {
    margin: 20px 10px;
    color: black;
    font-size: 15px;
}
#instruction {
    color: rgb(114, 110, 110);
}