body {
    background-color: whitesmoke;
    color:rgb(60, 60, 60);
    font-family: 'Times New Roman', Times, serif;
<<<<<<< HEAD
    text-decoration: wavy;
    font-size: 12pt;
    margin: 20px;
}
#email, #pwd, #divsubmit, #divcheckbox {
    margin: 20px 10px;
    color: black;
    font-size: 15px;
}
#instruction {
    color: rgb(114, 110, 110);
=======
    font-size: 12pt;
    margin: 10px;
}
.email {
    display: block;
}
li {
    width: 100%;
}
#divemail, #divpwd, #divsubmit, #divcheckbox {
    margin: 20px;
}
#submit {
>>>>>>> 49b6cb3f09f125e61ff45dfeca71b7576f7b37f8
}