body {
    background-color: whitesmoke;
    color:rgb(60, 60, 60);
    font-family: 'Times New Roman', Times, serif;
    font-size: 12pt;
    margin: 10px;
}
.email {
    display: block;
}
li {
    width: 100%;
}
#divemail, #divpwd, #divsubmit, #divcheckbox {
    margin: 20px;
}
#submit {
}