body {
    background-color: rgb(238, 230, 230);
    color:rgb(60, 60, 60)
}
input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}
input[type=submit] {
    margin-top: 20px;
    initial-value: hidden;
    width: 20%;
    float: right;
    background-color:aquamarine;
}
.passwordlabel {
    margin-top: 30px;
}
label {
    font-family: 'Times New Roman', Times, serif;
    text-decoration: wavy;
    font-size: 20pt;
}